#contactSection1 .container
{
    padding-top: 120px;
}   

#contactSection1 .btn
{
    background:#0d47a1;
    color: #fff;
    padding: 8px 30px;
}

#contactSection1  .form-control
{
    box-shadow: none;
    border:1px solid #0d47a1;
    color: black;
}
#contactSection1 h1
{
    color:#0d47a1;
    text-transform: uppercase;
}
#contactSection1 h3
{
    line-height:40px;
    text-transform: uppercase;
    color:#000;
}
#contactSection1 h4
{
    color:#0d47a1;
    font-weight: bold;
    letter-spacing:2px;
}
#contactSection1 label
{
    color: #000;
    font-weight:bold;
}
#contactSection1 img
{
    height:60px;
}
#contactSection1  h2
{
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-size:2.5rem;
    margin-top: 30px;
}
#contactSection1 .imageTag
{
    border:0px solid #000;
    text-align: center;
}
#contactSection1  span
{
    color: #0d47a1;
    border-bottom: 2px solid #0d47a1;
    font-weight: bold;
    font-family: ProximaNovaCondBold;
}