#contactSection1 {
    /* height: 100vh; */
}

#contactSection1 .col-lg-6 {
    /* height: 100vh; */
}

#contactSection1 .backup {
    background-image: url("../img/contact_us.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#contactSection1 .imgCon {
    border: 0px solid #000;
    margin-top: 50px;
    height: 50px;
}

#contactSection1 .imgCon img {
    height: 50px;
    float: right;
}

#contactSection1 h1 {
    font-size: 3rem;
    text-transform: uppercase;
    padding-top: 90px;
}

#contactSection1 h1 span {
    color: #0d47a1;
    border-bottom: 2px solid #0d47a1;
    font-weight: bold;
    font-family: ProximaNovaCondBold;
}

#contactSection1 h2 {
    margin-top: 20px;
}

#contactSection1 p {
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

#contactSection1 h5 {
    color: #0d47a1;
    font-weight: bold;
}

#contactSection2 {
    /* height: 100vh; */
}

#contactSection2 .col-lg-6 {
    /* height: 100vh; */
}

#contactSection2 .backup {
    background-image: url("../img/businessprocess.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#contactSection2 .imgCon {
    border: 0px solid #000;
    margin-top: 50px;
    height: 50px;
}

#contactSection2 img {
    float: right;
    height: 50px;
}

#contactSection2 .btn {
    background-color: #0d47a1;
    color: #fff;
    box-shadow: none;
}

#contactSection2 .form-control {
    box-shadow: none;
    border: 1px solid #0d47a1;
}